@page "/tasks"

<h1>Todo (@tasks.Count(task => !task.IsDone))</h1>

<div class="input-group mb-3">
	<input type="text" class="form-control" placeholder="Something todo" @bind="newTask" />
	<input type="text" class="form-control" placeholder="Write description" @bind="newDescription"/>
	<button class="btn btn-outline-secondary" @onclick="AddTodo">Add todo</button>

</div>

<ul>
	@foreach (var task in tasks)
	{
		<li>
			<TaskItem Task="task"/>
		</li>
	}
</ul>

@code {
	private List<TaskDto> tasks = new List<TaskDto>{
			new(){Name = "zadanie 1", Description = "description 2a asda sd asd asd " },
			new(){Name = "zadanie 2", Description = "description afasdvadfasdasfd" },
		};
	private string? newTask;
	private string? newDescription;
	private void AddTodo(){
		if (!string.IsNullOrWhiteSpace(newTask))
		{
			tasks.Add(new TaskDto { Name = newTask, Description = newDescription });
			newTask = string.Empty;
		}

	} 
}